/* Reset básico para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Estilo do cabeçalho */
header {
  background-color: #644306;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Container de blocos */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 80px;
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Estilo dos blocos clicáveis */
.block {
  background-color: #fff;
  border: 2px solid #6e5604;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.block h2 {
  font-size: 1.8em;
  color: #865d03;
  margin-bottom: 10px;
}

.block p {
  font-size: 1.2em;
  color: #555;
}

/* Adicionando links aos blocos */
.block#apresentacoes {
  background-color: #e7f7e5;
}

.block#dancas {
  background-color: #f2e0e0;
}

.block#comentarios {
  background-color: #e0f2f7;
}

.block a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}
